*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f7;
    font-family: "Roboto", "Arial", sans-serif;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url("fonts/Roboto-Light.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("fonts/Roboto-Light.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url("fonts/Roboto-Bold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("fonts/Roboto-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url("fonts/Roboto-Black.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("fonts/Roboto-Black.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.container {
    width: 1180px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    margin-top: 40px;
    margin-right: 120px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.menu {
    margin-right: 188px;
}

.menu__list {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.menu__item {
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
    color: #f4f4f7;
}

.menu__link:hover {
    color:rgba(255,255,255, .2);
}

.language__list {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    list-style: none;
  }

.language__item {
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.language__item:last-child {
    margin-right: 60px;
}

.language__button {
    appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
    color: #f4f4f7;
    padding-left: 12px;
    padding-top: 10px;
    padding-right: 11px;
    padding-bottom: 10px;
}

.language__button:hover {
    color:rgba(255,255,255, .2);
}

.language__button--active {
    border: 1px solid rgba(255,255,255, .2);
    border-radius: 5px;
    border-radius: 50%;
    padding: 10px;
}

.intro__wrapper {
    position: relative;
    background: url(images/img-header.jpg) no-repeat center;
    z-index: 0;
}

.intro__wrapper:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.intro__title {
    font-size: 60px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 170px;
    padding-bottom: 30px;
    line-height: 65px;
    letter-spacing: -0.75px;
    color: #f4f4f7;
    font-weight: 900;
}

.intro__text {
    padding-left: 200px;
    padding-bottom: 78px;
    font-size: 20px;
    line-height: 30px;
    color: #f4f4f7;
    max-width: 870px;
    font-weight: 300;
}

.button {
    appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
    padding-left: 200px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 25px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: end;
    color: #f4f4f7;
    font-weight: 300;
    font-family: "Roboto", "Arial", sans-serif;
    transition: 0.5s;
}

.button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.button__img {
    padding-left: 180px;
}

.about {
    margin-top: 100px;
}

.about__wrapper {
    background-color: #ffffff;
}

.about__content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
}

.about__title {
    font-size: 60px;
    color: #2d2d42;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 90px;
    margin-bottom: 30px;
    line-height: 65px;
    letter-spacing: -0.75px;
    font-weight: 900;
}

.about__text {
    font-size: 30px;
    color: #2d2d42;
    margin-left: 200px;
    margin-right: 200px;
}

.about__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin-left: 200px;
    margin-right: 140px;
}

.about__item {
    margin-right: 60px;
    width: calc(100% / 3 - 60px);
    margin-top: 85px;
}

.about__item:last-child {
    margin-right: 0;
}

.about__picture {
    display: block;
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.about__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__description {
    color: #2d2d42;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    width: 240px;

}

.activity {
    padding-bottom: 107px;
}

.activity__title {
    margin-bottom: 75px;
    color: #c0c6c8;
    font-size: 60px;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 65px;
    letter-spacing: -0.75px;
    font-weight: 900;
}

.activity__list {
    margin-left: 140px;
    column-count: 2;
    column-gap: 60px;
    list-style-type: none;
    margin-right: 100px;
}

.activity__item {
    color: #2d2d42;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 60px;
}

.activity__item:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 15px;
    width: 30px;
    height: 1px;
    background-color: #64cae1;
}

.work {
    padding-top: 85px;
}

.work__title {
    font-size: 60px;
    color: #2d2d42;
    font-weight: 900;
    letter-spacing: -0.75px;
    margin-left: 200px;
    margin-bottom: 25px;
}

.work__text {
    font-size: 30px;
    color: #2d2d42;
    margin-left: 200px;
    margin-bottom: 90px;
}

.work__project {
    margin-bottom: 30px;
}

.work__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.card {
    width: calc(100%  / 2 - 10px);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 70px;
}

.card--big {
    position: relative;
    width: calc(100% - 20px);
    margin-bottom: 20px;
}

.card__link {
    display: inline-block;
}

.card__pic {
    display: block;
    width: 580px;
    height: 320px;
    overflow: hidden;
}

.card__img:hover {
    transform: scale(1.04);
}

.card__pic--big {
    width: 1180px;
    height: 600px;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.5s;
}

.card__block {
    background: #64cae1;
    width: 380px;
    height: 380px;
    position: absolute;
    top: 200px;
    left: 200px;
    padding-top: 41px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.card__title {
    font-size: 13px;
    color: #2d2d42;
    text-transform: uppercase;
    letter-spacing: 1.73px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 30px;
}

.card__title--color {
    margin-bottom: 39px;
    color: #f4f4f7;
    margin-top: 0;
}

.card__text {
    font-size: 30px;
    color: #2d2d42;
    line-height: 40px;
    width: 440px;
}

.card__text--color {
    color: #f4f4f7;
    width: 100%;
}

.team {
    position: relative;
    margin-bottom: 100px;
}

.team__pic {
    width: 1180px;
    height: 600px;
    display: block;
    overflow: hidden;
}

.team__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.5s;
}

.team__img:hover {
    transform: scale(1.04);
}

.team__block {
    background: #f4f4f7;
    width: 380px;
    height: 380px;
    position: absolute;
    top: 200px;
    left: 600px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 110px;
}

.team__title {
    font-size: 13px;
    color: #2d2d42;
    text-transform: uppercase;
    letter-spacing: 1.73px;
    margin-bottom: 50px;
    font-weight: 900;
}

.team__text {
    font-size: 30px;
    color: #2d2d42;
    line-height: 40px;
    width: 100%;
}

.inside {
    padding-bottom: 100px;
}

.inside__title {
    font-size: 60px;
    color: #2d2d42;
    font-weight: 900;
    letter-spacing: -0.75px;
    margin-left: 200px;
    margin-bottom: 25px;
}

.inside__text {
    font-size: 30px;
    line-height: 40px;
    color: #2d2d42;
    margin-bottom: 90px;
    margin-left: 200px;
}

.press {
    position: relative;
    margin-bottom: 80px;
}

.press__pic {
    display: block;
    width: 980px;
    height: 600px;
    margin-left: 200px;
}

.press__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.press__block {
    background: #f4f4f7;
    width: 400px;
    height: 380px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 40px;
}

.press__title {
    font-size: 13px;
    color: #2d2d42;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.73px;
    margin-left: 0;
    margin-bottom: 35px;
}

.press__text {
    font-size: 30px;
    line-height: 40px;
    color: #2d2d42;
    margin-bottom: 55px;
    margin-left: 0;
    margin-right: 60px;
}

.press__wrapper {
    display: block;
    width: 50px;
    height: 26px;
    margin-bottom: 30px;
}

.press__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.press__button {
    appearance: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    width: 65px;
    height: 20px;
    margin-right: 9px;
    border-bottom: 1px solid #c0c6c8;
    transition: 0.5s;
}

.press__button--active {
    border-bottom: 1px solid #2d2d42;
}

.press__button:hover {
    border-bottom: 1px solid #64cae1;
}

.news__title {
    color: #2d2d42;
    font-weight: 900;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.73px;
}

.news__list {
    list-style-type: none;
    display: flex;
    margin-right: 100px;
    flex-wrap: wrap;
}

.news__item {
    margin-right: 120px;
    width: calc(100% / 3 - 120px);
    margin-top: 50px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.news__link {
    text-decoration: none;
    color: #2d2d42;
    transition: 0.5s;
}

.news__link:hover {
    color: #64cae1;
}

.news__date {
    color: #93a4a9;
    font-size: 15px;
}

.footer__wrapper {
    background-color: #000000;
    position: relative;
    z-index: 0;
}

.footer__block {
    display: relative;
}

.footer__map {
    display: block;
    width: 902.8px;
    height: 440px;
    position: absolute;
    left: 249px;
    top: 180px;
    opacity: 0.8;
    z-index: -1;
}

.footer__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer__circle {
    position: absolute;
    border-radius: 50%;
    background-color: #64cae1;
    width: 50px;
    height: 50px;
    top: 257px;
    left: 670px;
}

.footer__circle--small {
    background-color: #d04b9b;
    width: 40px;
    height: 40px;
    top: 282px;
    left: 754px;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 342px;
    padding-bottom: 75px;
}

.footer__title {
    font-size: 60px;
    color: #f4f4f7;
    font-weight: 900;
    letter-spacing: -0.75px;
}

.footer__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer__item {
    margin-right: 25px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__pic {
    display: block;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.footer__pic:hover {
    transform: scale(1.5);
}

.footer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__text {
    font-size: 20px;
    color: #f4f4f7;
    line-height: 30px;
    margin-left: 200px;
    margin-right: 600px;
    margin-bottom: 90px;
}

.footer__address {
    display: flex;
    margin-bottom: 70px;
    margin-left: 200px;
}

.footer__norway {
    margin-right: 118px;
    width: 380px;
}

.footer__belarus {
    margin-right: 102px;
}

.footer__country {
    font-size: 20px;
    color: #f4f4f7;
    font-weight: bold;
    margin-bottom: 26px;
}

.footer__city {
    font-size: 15px;
    color: #f4f4f7;
    margin-bottom: 9px;
}

.footer__street {
    font-size: 15px;
    color: #f4f4f7;
    font-style: normal;
    margin-bottom: 7px;
}

.footer__email {
    text-decoration: none;
    color: #64cae1;
    font-size: 15px;
    display: block;
    margin-bottom: 7px;
    cursor: pointer;
}

.footer__telephone {
    text-decoration: none;
    color: #f4f4f7;
    font-size: 15px;
    display: block;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button--color {
    background-color: #64cae1;
}

.footer__copyright {
    color: #f4f4f7;
    font-size: 20px;
    width: 380px;
    margin-right: 102px;
    margin-left: 118px;
}