:root {
    --darkish-pink: #d04b9b;
    --cool-grey: #93a4a9;
    --dusty-orange: #f47e3d;
    --dark-sky-blue: #64cae1;
    --silver: #c0c6c8;
    --white: #fff;
    --dark: #2d2d42;
    --pale-grey: #f4f4f7;
    --black-40: rgba(0, 0, 0, 0.4);
  }

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--pale-grey);
    font-family: "Roboto", "Arial", sans-serif;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url("fonts/Roboto-Light.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("fonts/Roboto-Light.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url("fonts/Roboto-Bold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("fonts/Roboto-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url("fonts/Roboto-Black.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("fonts/Roboto-Black.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
}

.header__wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header__logo {
    margin-top: 40px;
    margin-right: 120px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.header__menu {
    margin-right: 188px;
}

.header__list {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.header__item {
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    text-decoration: none;
    color: var(--pale-grey);
}

.header__link:hover {
    color:rgba(255,255,255, .2);
}

.header__lang {
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header__lang:last-child {
    margin-right: 60px;
}

.header__button {
    appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
    color: var(--pale-grey);
    padding-left: 12px;
    padding-top: 10px;
    padding-right: 11px;
    padding-bottom: 10px;
}

.header__button:hover {
    color:rgba(255,255,255, .2);
}

.header__button--active {
    border: 1px solid rgba(255,255,255, .2);
    border-radius: 5px;
    border-radius: 50%;
    padding: 10px;
}

.intro__wrapper {
    position: relative;
    background: url(images/img-header.jpg) no-repeat center;
    z-index: -2;
}

.intro__wrapper:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--black-40);
    z-index: -1;
}

.intro__title {
    font-size: 60px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 170px;
    padding-bottom: 30px;
    line-height: 65px;
    letter-spacing: -0.75px;
    color: var(--pale-grey);
    font-weight: 900;
}

.intro__text {
    padding-left: 200px;
    padding-bottom: 78px;
    font-size: 20px;
    line-height: 30px;
    color: var(--pale-grey);
    max-width: 870px;
    font-weight: 300;
}

.button {
    appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
    padding-left: 200px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 25px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--pale-grey);
    font-weight: 300;
    font-family: "Roboto", "Arial", sans-serif;
}

.button__img {
    padding-left: 180px;
}

.about {
    margin-top: 100px;
}

.about__wrapper {
    background-color: #ffffff;
}

.about__content {
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
}

.about__title {
    font-size: 60px;
    color: #2d2d42;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 90px;
    padding-bottom: 30px;
    line-height: 65px;
    letter-spacing: -0.75px;
    font-weight: 900;
}

.about__text {
    font-size: 30px;
    color: #2d2d42;
    padding-left: 200px;
    padding-bottom: 85px;
}

.about__list {
    display: flex;
    justify-content: start;
    list-style: none;
}

.about__item {
    margin-right: 60px;
}

.about__item:last-child {
    margin-right: 0;
}

.about__item:first-child {
    padding-left: 200px;
}

.about__picture {
    display: block;
    margin-bottom: 30px;
    background-color: #63c9e0;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.about__picture--center {
    background-color: #f47e3d;
}

.about__picture--right {
    background-color: #d04b9b;
}

.about__image {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 21px;
    padding-bottom: 17px;
}

.about__image--center {
    padding-top: 17px;
    padding-left: 37px;
    padding-right: 29px;
    padding-bottom: 14px;
}

.about__image--right {
    padding-top: 19px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 28px;
}

.about__description {
    color: #2d2d42;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    width: 240px;

}

.activity__title {
    padding-top: 70px;
    padding-bottom: 45px;
    color: #c0c6c8;
    font-size: 60px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 65px;
    letter-spacing: -0.75px;
    font-weight: 900;
}

.activity__list {
    height: 407px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 137px;
}

.activity__item {
  max-width: 380px;
  color: #2d2d42;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 30px;
  list-style-type: none;
  position: relative;
}

.activity__item:before {
    content: "";
    position: absolute;
    left: -60px;
    top: 15px;
    width: 30px;
    height: 1px;
    background-color: #64cae1;
}

.work {
    padding-top: 85px;
    padding-bottom: 75px;
}

.work__title {
    font-size: 60px;
    padding-left: 200px;
    color: #2d2d42;
    font-weight: 900;
    margin-bottom: 25px;
    letter-spacing: -0.75px;
}

.work__text {
    font-size: 30px;
    padding-left: 200px;
    font-weight: 300;
    color: #2d2d42;
    margin-bottom: 90px;
}

.work__pic {
    display: block;
    width: 1180px;
    height: 600px;
    position: relative;
    margin-bottom: 20px;
}

.work__img {
    width: 100%;
}

.work__block {
    background: #64cae1;
    width: 380px;
    height: 380px;
    position: absolute;
    top: 200px;
    left: 200px;
}

.work__block--bottom {
    background: #f4f4f7;
    left: 600px;
    top: 200px;
}

.work__block-title {
    color: #f4f4f7;
    font-size: 13px;
    font-weight: 900;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 42px;
    margin-top: 43px;
    text-transform: uppercase;
    letter-spacing: 1.73px;
}

.work__block-title--bottom {
    color: #2d2d42;
}

.work__block-text {
    color: #f4f4f7;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

.work__block-text--bottom {
    color: #2d2d42;
}

.work__project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.work__card {
    width: 580px;
    margin-bottom: 70px;
}

.work__card-img {
    margin-bottom: 40px;
}

.work__card-title {
    font-size: 13px;
    color: #2d2d42;
    text-transform: uppercase;
    letter-spacing: 1.73px;
    margin-bottom: 30px;
    font-weight: 900;
}

.work__card-text {
    font-size: 30px;
    color: #2d2d42;
    font-weight: 300;
    max-width: 440px;
    line-height: 40px;
}

.inside {
    padding-bottom: 100px;
}

.inside__title {
    font-size: 60px;
    padding-left: 200px;
    color: #2d2d42;
    font-weight: 900;
    margin-bottom: 25px;
    letter-spacing: -0.75px;
}

.inside__text {
    font-size: 30px;
    padding-left: 200px;
    font-weight: 300;
    color: #2d2d42;
    margin-bottom: 90px;
    line-height: 40px;
}

.inside__wrapper {
    display: block;
    height: 600px;
    margin-left: 200px;
    position: relative;
    margin-bottom: 80px;
}

.inside__img {
    width: 100%;
}

.inside__block {
    background: #f4f4f7;
    width: 400px;
    height: 380px;
    padding-top: 40px;
    position: absolute;
    bottom: 0;
    left: -200px;
}

.inside__title--small {
    font-size: 13px;
    padding-left: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 1.73px;
}

.inside__text--block {
    padding-left: 0;
    margin-bottom: 55px;
    margin-right: 60px;
    line-height: 40px;
}

.inside__pic {
    display: block;
    width: 50px;
    height: 26px;
    margin-bottom: 33px;
}

.inside__tc {
    width: 100%;
}

.inside__button {
    appearance: none;
    border: 0;
    border-radius: 0;
    background-color: #c0c6c8;
    width: 65px;
    height: 1px;
    margin-right: 9px;
}

.inside__button--active {
    background-color: #2d2d42;
}

.inside__button:last-child {
    margin-right: 0;
}

.inside__description {
    color: #2d2d42;
    font-size: 20px;
    line-height: 30px;
}

.inside__list {
    display: flex;
    list-style: none;
    justify-content: start;
}

.inside__description {
    margin-bottom: 20px;
    margin-top: 18px;
}

.inside__item {
    max-width: 280px;
    margin-right: 120px;
}

.inside__item:last-child {
    margin-right: 0;
}

.inside__date {
    color: #93a4a9;
    font-size: 15px;
}

.footer__wrapper {
    background-color: #000000;
    position: relative;
    z-index: -2;
}

.footer__wrapper2 {
    padding-top: 100px;
    padding-left: 200px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.footer__title {
    font-size: 60px;
    color: #f4f4f7;
    font-weight: 900;
    letter-spacing: -0.75px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.footer__item {
    margin-right: 25px;
}

.footer__item:last-child {
    margin-right: 342px;
}

.footer__picture {
    width: 30px;
    height: 30px;
}

.footer__img {
    width: 100%;
}

.footer__text {
    font-size: 20px;
    color: #f4f4f7;
    line-height: 30px;
    margin-bottom: 90px;
    width: 380px;
}

.footer__address {
    display: flex;
    margin-bottom: 70px;
}

.footer__norway {
    margin-right: 118px;
    width: 380px;
}

.footer__belarus {
    margin-right: 102px;
}

.footer__country {
    font-size: 20px;
    color: #f4f4f7;
    font-weight: bold;
    margin-bottom: 26px;
}

.footer__city {
    font-size: 15px;
    color: #f4f4f7;
    margin-bottom: 9px;
}

.footer__street {
    font-size: 15px;
    color: #f4f4f7;
    font-style: normal;
    margin-bottom: 7px;
}

.footer__email {
    text-decoration: none;
    color: #64cae1;
    font-size: 15px;
    display: block;
    margin-bottom: 7px;
    cursor: pointer;
}

.footer__telephone {
    text-decoration: none;
    color: #f4f4f7;
    font-size: 15px;
    display: block;
}

.footer__copyright {
    color: #f4f4f7;
    font-size: 20px;
    width: 380px;
    margin-right: 102px;
    margin-left: 118px;
}

.button--color {
    background-color: #64cae1;
}

.footer__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__map {
    display: block;
    position: absolute;
    right: 28px;
    bottom: 100px;
    opacity: 0.8;
    z-index: -1;
}

.footer__map:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #64cae1;
    width: 50px;
    height: 50px;
    top: 77px;
    left: 421px;
}

.footer__map:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #d04b9b;
    width: 40px;
    height: 40px;
    top: 102px;
    left: 505px;
}